header{

  #container_header{
      @include centralizar(row, space-between);
      margin: 0.5rem;

      #header_logo{
        @include centralizar(row, center);
        .header_logo-img{
          @include ajusteImg(14rem, 2.5rem);
        }
      }

      #header_botoes{
        @include centralizar(row, center);
      }

      .header_botoes-list{
        display: flex;
        
        img{
          @include ajusteImg(2.5rem, 2.5rem);
            margin: 0 0.5rem;
            cursor: pointer;
        }
      }

      #header_menu-aberto{
        display: none;
        @include modalMenu(100%, 100%);
        background-color: white;
        flex-direction: column;
        
      }  
          .header_menu-cabecalho{
          @include centralizar(row, space-between);
          width: 100%;
          padding: 2rem 0 2.5rem 0;

          .header_menu-cabecalho-logo{
            @include ajusteImg(14rem, 2.5rem);
          }
          
          img{
            @include ajusteImg(1.5rem, 1.5rem);
              margin: 0 1.5rem;
          }
        }

      #header_list-menu{

        #header_list-item{
          width: 100vw;
          padding: 1.2rem;
          @include centralizar (row, space-between);
          @include fonte (1.6rem);

          img{
            @include ajusteImg(1.5rem, 1.5rem);
            margin: 0 1.5rem;
          }
        }
      }
    .header_menu-footer{
      @include centralizar(row, center);
      padding: 5rem;

      a{
        @include centralizar(row, center);
        @include fonte(1.5rem);   
        color: $cor__cinza;     
        gap: 5px;

        img{
          @include ajusteImg(5rem, auto);
        }
      }
    }
  }
  .pesquisa{
    @include centralizar (row, center);
    padding: 1.5rem;
    background-color: #ebecee; //#B4B4B8;
    
    input{
      width: 70%;
      height: 3rem;
      padding: 1rem;
      background-color: white;
      border: 2px solid #E1F0DA;
      border-radius: 8px;
      font: {
        size: 1.5rem;
        family: $fonte__padrao;
      }
    }
  }
}