header{
    @include centralizar(column, center);
    margin: 1rem 0;
}
main{
    width: 100%;
    @include centralizar(column, center);

    form{
        @include centralizar(column, center);
        width:80%;
        padding: 2rem;
        border: solid 2px $cor__verdeClaro;
        border-radius: 5px;
        box-shadow: 0 2px 5px $cor__verdeVivoClaro;
        margin: 3rem;

        .form__container{
        @include centralizar(column, center);
        width:100%;
        padding: 2rem;
        .formulario__campo{
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            border: none;
            width: 95%;
            .campo{
                text-align: start;
                line-height: 20px;
                padding: 0.5rem 0;
                @include fonte(1.4rem, 500);
            }
            .campo_input{
                display: block;
                border-radius: 5px;
                width: 100%;
                padding: 1rem; 
                border: solid 1px $cor__verdeClaro;     
            }
        }
        .mensagem-erro {
            color: red;
            margin: 0.5rem;
            @include fonte(1.4rem, bolder);
        }
        .formulario__termos{
            border: none;
            @include centralizar(column, center);
            
            .termos__input{
                cursor: pointer;
                width: 40px;
                height: auto;
                margin: 0.5rem 0;
            }
            
            .termos__texto{
                @include fonte(1.4rem, 500);
                cursor: pointer;
            }
        }


            .formulario__botao {
                background-color: $cor__verdeEscuro;
                margin: 2em auto;
                display: block;
                border: solid 2px $cor__verdeEscuro;
                padding: 1em 2em;
                border-radius: 10px;
                @include fonte(18px, 600);
                line-height: 22px;
                color: $cor__branco;
                cursor: pointer;
                transition: all 1s;
                &:hover{
                    background-color: $cor__cinzaClaro;
                    color: $cor__verdeEscuro;
                    border: solid 2px $cor__verdeClaro;
                }
            
            }
        }
            a{
                @include fonte(1.5rem, 500);
                padding: 1rem 0;
                cursor: pointer;
                color: $cor__verdeEscuro;
            }
    }
}

footer{
    padding: 2rem 0;
    .footer__termos{
        @include centralizar(column, center);
        gap: 2rem;

        a{
            @include fonte(1.5rem, 500);
            color: $cor__verdeEscuro;
            cursor: pointer;
            &:hover{
                color: $cor__cinza;
            }
        }
    }
}

@media screen and (min-width:500px) {

    main{
        form{
            width: 50%;
        }
    }
    footer{
        .footer__termos{
            flex-direction: row;
        }
    }
}