#showcase {
    @include centralizar (column, center);

    #showcase__produtos {
        @include centralizar (column, center);

        .titulo {
            @include fonte (2.5rem, 400);
            padding: 2rem;
        }

        .showcase__container {
            padding: 0 2rem 3.5rem 2rem;
            @include centralizar (column, center);
            width: 100vw;

            .swiper {
                width: 100%;

                .swiper-button-next,
                .swiper-button-prev {
                    background-color: #ebecee;
                }

                .swiper-wrapper {
                    width: 300px;
                    height: 30%;
                    padding: 1rem;
                    margin-bottom: 1rem;
                }

                .swiper-slide {
                    @include containerCardProduto;

                    .slide__infoStatus {
                        @include btnFlutuanteSlide();
                        @include fonte(1.1rem, 500);
                        color: $cor__preto;
                        left: 5px;
                        top: 6px;
                    }

                    .slide__btn-fav {
                        @include btnFlutuanteSlide;
                        background-color: $cor__brancoTransparente;
                        right: 5px;
                        top: 6px;

                        img {
                            @include ajusteImg(1.8rem, 1.8rem);
                        }
                    }

                    .slide__informacoes-Container {
                        @include centralizar(column, center);
                        width: 100%;
                        padding: 1rem;

                        .slide__infoNome {
                            @include fonte(1.5rem, bolder);
                            margin: 0.5rem;
                        }

                        .slide__infoProduto {
                            @include fonte(1.1rem, 400);
                           @include infoCardProduto;

                            span {
                                color: $cor__cinza;
                            }
                        }

                        .slide__infoPreco {
                            @include fonte(1.4rem, bolder);
                            padding: 0.5rem;
                        }

                        .slide__btn-sacola {
                            @include botaoCompra();
                            @include btnCompraHover();
                        }
                    }
                }

                .swiper-slide img {
                    @include imgCardProduto;
                }

                .swiper-pagination {
                    position: initial;
                    margin: 1rem 0;
                }
            }
        }
    }
}
#showcaseFiltro{
    @include centralizar (row, center);
    padding: 3.5rem 2rem 3.5rem 2rem;
    width: 100vw;
    flex-wrap: wrap;
    gap: 1.5rem;

    p{
        @include fonte(2rem, 500);
        color: $cor__cinza;
    }

    .showcaseFiltro__item{
        @include containerCardProduto;
        position: relative;
        

        img{
          @include imgCardProduto;
        }

        .item__infoStatus {
            @include btnFlutuanteSlide();
            @include fonte(1.1rem, 500);
            color: $cor__preto;
            left: 5px;
            top: 6px;
        }

        .item__btn-fav {
            @include btnFlutuanteSlide;
            background-color: $cor__brancoTransparente;
            right: 5px;
            top: 6px;

            img {
                @include ajusteImg(1.8rem, 1.8rem);
            }
    
        }
        .item__informacoes-Container {
            @include centralizar(column, center);
            width: 100%;
            padding: 1rem;

            .item__infoNome {
                @include fonte(1.5rem, bolder);
                margin: 0.5rem;
            }

            .item__infoProduto {
                @include fonte(1.1rem, 400);
                @include infoCardProduto;

                span {
                    color: $cor__cinza;
                }
            }

            .item__infoPreco {
                @include fonte(1.4rem, bolder);
                padding: 0.5rem;
            }

            .item__btn-sacola {
                @include botaoCompra();
                @include btnCompraHover();
            }
        }

    }
}