$cor__preto: rgb(0, 0, 0);
$cor__pretoDesbotado: #2A363B;
$cor__cinza: rgb(75, 75, 75);
$cor__branco: rgb(255, 255, 255);
$cor__cinzaClaro: #ebecee;
$cor__verdeEscuro: #327463;
$cor__verdeClaro: #B0C5A4;
$cor__verdeVivoClaro:#7FB57D;

$fonte__padrao: 'Platypi', serif;

//#ebecee; #B4B4B8;