$cor__preto: rgb(0, 0, 0);
$cor__cinza: rgb(92, 92, 92);
$cor__branco: rgb(255, 255, 255);
$cor__cinzaClaro: #ebecee;
$cor__verdeEscuro: #327463;
$cor__verdeClaro: #B0C5A4;

$fonte__padrao: 'Platypi', serif;

//#ebecee; #B4B4B8;