@import "base/default";
@import "base/variaveis";
@import "layout/logCad";
@import "layout/form";

body{
   @include centralizar(column, center);
   width: 100%;
   min-height: 100vh;
   margin: 2rem 0;
}
