
header {

  .userName{
    @include fonte(1.4rem, 600);
    padding: 0.5rem;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    font-weight: bolder;
  }

  #container_header {
    @include centralizar(row, space-between);
    padding: 2rem 0.8rem 1rem 0.8rem;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: $cor__branco;
    overflow: visible;

    .perfil{
      display: none;
    }

    #contato {
      display: none;
      width: 35%;
      padding: 0 3rem;
      @include fonte(1.2rem, bolder);


      a {
        color: $cor__preto;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    #header_logo {
      width: 50%;
      @include centralizar(row, start);

      .header_logo-img {
        @include ajusteImg(14rem, 2.5rem);
      }
    }

    #header_botoes {
      @include centralizar(row, end);
      width: 50%;
      overflow: visible;
    }

    .header_botoes-list {
      display: flex;
      overflow: visible;


      .header_list-icon {
        cursor: pointer;
        position: relative;
        overflow: visible;

        .menu-list{
          position: absolute;
          height: auto;
          display: none;
          z-index: 2;
          padding: 1rem;
          background-color: $cor__branco;
          
          .item{
            @include fonte(1.2rem, 600);
            color: $cor__verdeEscuro;
            padding: 0.5rem 0;

            &:hover{
              color: $cor__preto;
            }
          }
        }  

          .header_itemSacola-number{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $cor__verdeEscuro;
            color: $cor__branco;
            border-radius: 30px;
            width: 1.7rem;
            height: 1.7rem;
            text-align: center;
            @include fonte(1.1rem, 500);
          }

        a{
          color: $cor__preto;
          img {
            @include ajusteImg(2.3rem, 2.3rem);
            margin: 0 0.5rem;
            cursor: pointer;
          }

          span {
            display: none;
          }
        }
      }
    }

    #header_menu-aberto {
      @include modalMenu(100vw, 100vh);
      display: block;
      background-color: $cor__branco;
      z-index: 2;
      transition: all 1s;
    }


    .header_menu-cabecalho {
      @include centralizar(row, space-between);
      width: 100%;
      padding: 2rem 1.5rem 3rem 1.5rem;
      overflow-y: hidden;

      .header_menu-cabecalho-logo {
        @include ajusteImg(14rem, 2.5rem);
      }

      img {
        @include ajusteImg(1.5rem, 1.5rem);
        margin: 0 1.5rem;
        cursor: pointer;
      }
    }

    #header_list-menu {

      .item-page, .header_list-item{
        width: 100vw;
        padding: 1.5rem 2rem;
        @include centralizar (row, space-between);
        @include fonte (1.6rem, 400);
        cursor: pointer;
        
        img {
          @include ajusteImg(1.5rem, 1.5rem);
          margin: 0 2rem;
        }
      }
    }

    #header_menu-footer {
      @include centralizar(row, flex-start);
      padding: 4rem 0;
      a {
        @include centralizar(row, flex-start);
        @include fonte(1.5rem, bolder);
        color: $cor__preto;

        img {
          @include ajusteImg(5rem, auto);
        }
      }
      .userItem{
        padding: 1rem 2rem;
        @include centralizar (row, space-between);
        @include fonte (1.5rem, 500);
        cursor: pointer;

      }
    }
  }

  .pesquisa {
    margin: 6rem 0 0 0;
    @include centralizar (row, center);
    padding: 1rem;
    background-color: $cor__branco;

    form {
      @include form(85%, 3.5rem, 1px, $cor__verdeClaro);

      #header_pesquisa-caixa {
        @include formTextCaixa(80%);
        @include fonte (1.5rem, 400);
      }

      .header__pesquisa-btn {
        @include formBtn(20%, 3px, $cor__verdeClaro);
        cursor: pointer;
        transition: 1s background-color;
        &:hover{
          background-color: $cor__verdeVivoClaro;
        }

        img {
          @include ajusteImg(2rem, auto);
        }
      }
    }
  }
}

@media screen and (min-width:500px) {
  header {
    #container_header {
      .perfil{
        display: block;
      }

      #header_logo {
        width: 30%;
        justify-content: center;
      }

      #header_botoes {
        width: 35%;
      }
    }

    .pesquisa {
      form {
        width: 70%;
        height: 4rem;
      }
    }
  }
}

@media screen and (min-width:850px) {

  header {
    #container_header {
      #contato {
        display: block;
      }
      .header_botoes-list {
        .menu {
          display: none;
        }

        .header_list-icon {
          a{
          @include centralizar(row, center);
          padding: 0.5rem;

          span {
            display: inline-block;
            @include fonte(1.2rem, bolder);
          }
        }
          .menu {
            display: none;
          }

          .header_itemSacola-number{
            left: 2px;
          }
        }
      }
    }

    .pesquisa {
      form {
        width: 50%;
        height: 5rem;
      }
    }
  }
}